<style>
.pc-car-btn-groups {
  display: block;
}
.mb-car-btn-groups {
  display: none;
}

.pc-car-btn-groups #product-add-to-cart, .pc-car-btn-groups .shopify-payment-button {
  width: 50% !important;
  margin-bottom: 0 !important;
  margin-right: 10px !important;
}

.pc-car-btn-groups .shopify-payment-button__button {
  padding: var(--padding_btn_qv_add_to_cart)!important;

}

.display_product_footer_btn {
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  height: 50px;
}

.display_product_footer_btn > * {
  margin-right: 20px;
}

.display_product_footer_btn .wishlist2 svg {
  width: 38px !important;
  height: 38px !important;
}

.display_product_footer_btn .icon-share {
  padding: 0 !important;
  right: 0 !important;
  overflow: visible !important;
  width: auto !important;
  height: auto !important;
}

.display_product_footer_btn > * {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
#svg-download-app3{
  width: 20px;
  height: 30px;
  position: relative;
}
.download-app-view3 {
  display:none;
  width: 124px;
  height: 140px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 89px;
  z-index:10;
  border: 1px solid #EEEEEE;
}
.download-app-text{
  padding-left: 10px
}
</style>
{%- assign current_variant = product.selected_or_first_available_variant -%}
<div class="groups-btn pc-car-btn-groups">
    <div class="groups-btn-tree {% if section.settings.display_product_detail_share or settings.enable_wishlist %}margin-button{% endif %}">
      {% if current_variant.available %}
    
      {% if current_variant.inventory_management %}
      {% assign first_inventory = current_variant.inventory_quantity %}
    
      {% if first_inventory > 0 %}
      <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form">
      {% else %}
      <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.pre_order"{%endif%} id="product-add-to-cart" value="{{ 'products.product.pre_order' | t }}" data-form-id="#add-to-cart-form">
      {% endif %}
      {% else %}
      <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form">
      {% endif %}
    
      {% else %}
      <input type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{%endif%} id="product-add-to-cart" disabled value="{{ 'products.product.unavailable' | t }}" >
      {% endif %}
    {% if section.settings.enable_payment_button and current_variant.available %}
    {{ form | payment_button }}
    {% endif %}
    </div>
    <div class="display_product_footer_btn">
        {% if section.settings.display_product_detail_share %}
            <a class="icon-share" href="javascript:void(0)">{% render 'icon-share' %}</a>
        {% endif %}
        {% render 'wishlist-product' %}
        <svg id="svg-download-app3" width="24" height="40" xmlns="http://www.w3.org/2000/svg">
          <g>
            <rect stroke="#000" height="20" width="17" y="8" x="2" fill="#fff"/>
            <line y2="25" x2="8" y1="25" x1="14" stroke="#000" fill="none"/>
          </g>
        </svg>
        <div class="download-app-view3"> 
          <span class='download-app-text' > DOWNLOAD APP </span>
          <img data-srcset="{{"downloadApp.png" | asset_img_url: '120x'}}" {% render 'lazyload' %} />
        </div>
    </div>
    <div class="wrapper-social-popup">
      <div class="title-close">
        <p class="social-title">{{ 'products.product.copy_link' | t }}</p>
        {% render 'icon-close' %}
      </div>
      <div class="social-garment-link" role="button" tabindex="-1"><input type="text" value="{{ canonical_url }}" class="txt_copy" readonly="readonly"></div>
      {% if section.settings.display_product_detail_share %}
        {% render 'share' with product %}
      {% endif %}
    </div>
</div>
<div class="groups-btn mb-car-btn-groups">
    <div class="groups-btn-tree {% if section.settings.display_product_detail_share or settings.enable_wishlist %}margin-button{% endif %}">
      {% if current_variant.available %}
    
      {% if current_variant.inventory_management %}
      {% assign first_inventory = current_variant.inventory_quantity %}
    
      {% if first_inventory > 0 %}
      <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form">
      {% else %}
      <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.pre_order"{%endif%} id="product-add-to-cart" value="{{ 'products.product.pre_order' | t }}" data-form-id="#add-to-cart-form">
      {% endif %}
      {% else %}
      <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form">
      {% endif %}
    
      {% else %}
      <input type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{%endif%} id="product-add-to-cart" disabled value="{{ 'products.product.unavailable' | t }}" >
      {% endif %}

      {% render 'wishlist-product' %}

      {% if section.settings.display_product_detail_share %}
        <a class="icon-share" href="javascript:void(0)">{% render 'icon-share' %}</a>
      {% endif %}

    </div>

    {% if section.settings.enable_payment_button and current_variant.available %}
    {{ form | payment_button }}
    {% endif %}
    <div class="wrapper-social-popup">
      <div class="title-close">
        <p class="social-title">{{ 'products.product.copy_link' | t }}</p>
        {% render 'icon-close' %}
      </div>
      <div class="social-garment-link" role="button" tabindex="-1"><input type="text" value="{{ canonical_url }}" class="txt_copy" readonly="readonly"></div>
      {% if section.settings.display_product_detail_share %}
        {% render 'share' with product %}
      {% endif %}
    </div>
</div>
<script>
   let but = $('.download-app-view3')
   let showDownloadAppView = false;
   var downloadButton = $('#svg-download-app3');
    downloadButton.on('click', function (e) {
      if(but[0].style.display === "block" ){
        but[0].style.display = "none";
      } else
        but[0].style.display = "block";     
    });
    $("#svg-download-app3").hover(function(){
        but[0].style.display= "block";
    },function(){
      setTimeout(() => {
        if(showDownloadAppView){
         but[0].style.display = "none"
        }
       }, 300);
    });
    $('.download-app-view3').hover(function(){
      but[0].style.display= "block";
      showDownloadAppView = false;
    },function(){
      but[0].style.display = "none";
      showDownloadAppView = true;
    });
</script>

